body {
    /* In this case the peru colour is applied because it comes later in the CSS rule that styles the body element. */
    background-color: peru;
    font-family: monospace;
    background-color: cornflowerblue;
}

header {
    background-color: indianred 
    
}

/* For the same reason as above, the background colour we see is chartreuse */
h1 {
    background-color: hotpink;
    background-color: chartreuse;

}
section {
    background-color: darkgoldenrod;
}
main {
    background-color: slateblue;
}

